/**
 * SPDX-FileCopyrightText: (c) 2020 Carl Schwan <carl@carlschwan.eu>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

hr.blue-line {
  width: 4rem;
  height: 5px;
  background: #3daee9;
  margin: auto;
  border: none;
  outline: none;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}

main {
  font-size: 16px;

  section {
    margin-bottom: 0;
    margin-top: 0;
    padding: 20px;
  }
}

h1 {
  font-weight: bold;
}

.container-application {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.container-laptop {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 767.98px) {
  .laptop-overlay {
     margin-left: 0;
     margin-right: 0;
     width: 100%;
  }
}

.laptop-overlay {
  border-radius: 3px;
  border: 1px solid #bfbfbf;
  margin-top: 5.2%;
}

#section-green {
  background-color: rgba(39,174,96,0.1);
}

.section-blue {
  background: white;
}

.card {
  padding: 0;
  box-shadow: 1px 3px 8px #EFF0F1;
}

@media (min-width: 992px) {
  .text-right-lg {
    text-align: right;
  }
}
.kde-img {
  max-width: 850px;
  margin: 20px 0;
}

#plasma-homepage {
  background: rgba(61,174,233,.1);
}
#plasma .container {
  text-align: center;
  justify-content: center;
}
.plasma-info  {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1100px) {
  p {
    font-size: 20px;
  }
  .laptop-with-overlay {
    max-width: 750px;
    top: 50%;
    justify-content: center;
  }
}
.app {
  align-items: center;

  .button {
    margin-left: 10px;
  }
  .app-description {
    display: flex;
    align-items: center;
    text-align: center;
    order: 0;

    div {
      margin-left: auto;
      margin-right: auto;
      max-width: 500px;
    }
  }

  @media (min-width: 992px) {
    &:nth-child(odd) .app-description {
      order: 12;
    }
  }
}

#plasma h1 {
  margin-top: 0.1em;
  margin-bottom: 10px;
  font-size: 80px;
}

#plasma h2 {
  margin-top: 0.1em;
  margin-bottom: 40px;
}

.swiper-slide img, .screenshot img {
  height: 50vw;
  min-height: 300px;
  max-height: 500px;
}

.swiper-slide h3 {
  text-align: center;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}

.swiper-slide {
  flex-shrink: initial;
}
#plasma .learn-more:not(.button) {
  margin-left: 10px;
}
.button {
  margin-left: 0;
}
.hardware-grid {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 33% 33% 33%;
  grid-template-areas:
    "pinebook      slimbook      focus"
    "pinebook-desc slimbook-desc focus-desc";
}
@media (max-width: 767px) {
  .hardware-grid {
    display: flex;
    flex-direction: column;
  }
}
.pinebook {
  grid-area: pinebook;
  padding-left: 5px;
  padding-right: 5px;
}
.pinebook-desc {
  grid-area: pinebook-desc;
}
.slimbook {
  grid-area: slimbook;
  padding-left: 13px;
  padding-right: 13px;
}
.slimbook-desc {
  grid-area: slimbook-desc;
}
.focus {
  grid-area: focus;
}
.focus-desc {
  grid-area: focus-desc;
}
.focus, .slimbook, .pinebook {
  align-self: end;
  margin: 20px;
}
.focus img, .slimbook img, .pinebook img {
  max-width: 100%;
  height: auto;
}
.focus-desc, .slimbook-desc, .pinebook-desc {
  text-align: center;
  align-self: start;
  padding: 5px 15px;
}
#kde-connect {
  background: rgba(246, 116, 0, 0.05);
}

.mt-1 {
  text-align: left;
}

.col-12.col-lg-5.app-description.mt-4 {
  text-align: left;
}

#krita {
  box-shadow: 0px 3px 3px 2px #BFBFBF;
  border-radius: 4px;
}

#kdenlive {
  box-shadow: 0px 3px 3px 2px #BFBFBF;
  border-radius: 4px;
}

#kdevelop {
  box-shadow: 0px 3px 3px 2px #BFBFBF;
  border-radius: 4px;
}

#gcompris {
  box-shadow: 0px 3px 3px 2px #BFBFBF;
  border-radius: 4px;
  margin-bottom: 30px;
}
