<footer id="kFooter" class="footer">
  <section id="kLinks" class="container">
    <div class="row">
      <nav class="col-sm">
        <h3>Products</h3>
        <a href="https://kde.org/plasma-desktop">Plasma</a>
        <a href="https://kde.org/applications/">KDE Applications</a>
        <a href="https://kde.org/products/frameworks/">KDE Frameworks</a>
        <a href="https://plasma-mobile.org/overview/">Plasma Mobile</a>
        <a href="https://neon.kde.org/">KDE neon</a>
        <a href="https://wikitolearn.org/" target="_blank">WikiToLearn</a>
      </nav>
      <nav class="col-sm">
        <h3>Develop</h3>
        <a href="https://techbase.kde.org/">TechBase Wiki</a>
        <a href="https://api.kde.org/">API Documentation</a>
        <a href="https://doc.qt.io/" target="_blank">Qt Documentation</a>
        <a href="https://inqlude.org/" target="_blank">Inqlude Documentation</a>
      </nav>
      <nav class="col-sm">
        <h3>News &amp; Press</h3>
        <a href="/announcements/">Announcements</a>
        <a href="https://dot.kde.org/">KDE.news</a>
        <a href="https://planetkde.org/">Planet KDE</a>
        <a href="https://www.kde.org/screenshots">Screenshots</a>
        <a href="https://www.kde.org/contact/">Press Contact</a>
      </nav>
      <nav class="col-sm">
        <h3>Resources</h3>
        <a href="https://community.kde.org/Main_Page">Community Wiki</a>
        <a href="https://userbase.kde.org/">UserBase Wiki</a>
        <a href="/stuff/">Miscellaneous Stuff</a>
        <a href="/support/">Support</a>
        <a href="/support/international.php">International Websites</a>
        <a href="/download/">Download KDE Software</a>
        <a href="/code-of-conduct/">Code of Conduct</a>
      </nav>
      <nav class="col-sm">
        <h3>Destinations</h3>
        <a href="https://store.kde.org/">KDE Store</a>
        <a href="https://ev.kde.org/">KDE e.V.</a>
        <a href="https://www.kde.org/community/whatiskde/kdefreeqtfoundation.php">KDE Free Qt Foundation</a>
        <a href="https://timeline.kde.org/">KDE Timeline</a>
      </nav>
    </div>
  </section>

  <section id="kSocial" class="container kSocialLinks">
      <!-- <nav style="position: absolute; left: 15px;">
          Browsing in English (Languages coming soon)
      </nav> -->
  
      <a class="shareFacebook" href="https://www.facebook.com/kde/" rel="nofollow">Post on Facebook</a>
      <a class="shareTwitter" href="https://twitter.com/kdecommunity" rel="nofollow">Share on Twitter</a>
      <a class="shareDiaspora" href="https://joindiaspora.com/people/9c3d1a454919ef06" rel="nofollow">Share on Diaspora</a>
      <a class="shareMastodon" href="https://mastodon.technology/@kde" rel="me nofollow">Share on Mastodon</a>
      <a class="shareLinkedIn" href="https://www.linkedin.com/company/29561/" rel="nofollow">Share on LinkedIn</a>
      <a class="shareReddit" href="https://www.reddit.com/r/kde/" rel="nofollow">Share on Reddit</a>
      <a class="shareYouTube" href="https://www.youtube.com/channel/UCF3I1gf7GcbmAb0mR6vxkZQ" rel="nofollow">Share on YouTube</a>
      <a class="sharePeerTube" href="https://peertube.mastodon.host/accounts/kde/videos" rel="nofollow">Share on PeerTube</a>
  </section>

  <section id="kLegal" class="container">
      <div class="row">
          <small class="col-4">
              Maintained by <a href="mailto:kde-webmaster@kde.org">KDE Webmasters</a>
          </small>
          <small class="col-8" style="text-align: right;">
              KDE<sup>®</sup> and <a href="/media/images/trademark_kde_gear_black_logo.png">the K Desktop Environment<sup>®</sup> logo</a> are registered trademarks of <a href="https://ev.kde.org/" title="Homepage of the KDE non-profit Organization">KDE e.V.</a> |
              <a href="https://www.kde.org/community/whatiskde/impressum">Legal</a>
          </small>
      </div>
  </section>
</footer>
