<ul class="navbar-nav mr-auto">
  {{ $currentPage := . }}
  {{ $menu := .Site.Menus.main }}
  {{ if .Section }}
  {{ $menu = index .Site.Menus .Section }}
  {{ end }}
  {{ range $menu }}
    {{ if .HasChildren }}
      <li class="nav-item dropdown {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          {{ .Pre }}
          <span>{{ .Name }}</span>
        </a>
        <div class="dropdown-menu">
          {{ range .Children }}
            <a class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}"
               href="{{ .URL }}">{{ .Name }}
            </a>
          {{ end }}
        </div>
      </li>
    {{ else }}
      <li class="nav-item">
        <a class="nav-link" href="{{ .URL }}">
          {{ .Pre }}
          <span>{{ .Name }}</span>
        </a>
      </li>
    {{ end }}
  {{ end }}
</ul>
