{{ define "main" }}

<main id="home">
  <section class="section-blue" id="plasma">
    <div id="top-section" class="container text-center">
      <h1 id="plasma-title">Akademy 2020</h1>
      <h2>4-11 September 2020, Online</h2>
      <img class="img-fluid" src="collage_logo.jpg" alt="Akademy participants" loading="lazy" width="3200" height="1080" />
    </div>
    <div class="container mt-5">
      <p>The conference is expected to draw hundreds of attendees from the global KDE Community. Participants will showcase, discuss and plan the future of the Community and its technology. Members from the broader Free and Open Source Software community, local organizations and software companies will also attend.</p>
      <a href="cfp" class="learn-more button mb-3">Call for Participation</a>
    </div>
  </section>

  <section id="kde-connect">
    <div class="container text-left">
      <h1>Program</h1>
      <p>Akademy 2020 will begin with virtual training sessions on Friday 4 September. This will be followed by a number of talk sessions held on Saturday 5 Sept. and Sunday 6 Sept. The remaining 5 days will be filled with workshops and Birds of a Feather (BoFs).</p>
      <h2>A Different Akademy</h2>
      <p>Due to the unusual circumstances we are living through and the need to keep the KDE Community healthy, thriving, and safe, the Akademy Team have decided to host Akademy 2020 online. During the program organization period for this year's activities, we took into consideration multiple timezones to ensure that, regardless of physical location, every member of the KDE Community can participate in as many conference activities as they like.</p>
      <p>Despite not being able to meet in person this year, KDE members will be able to reach an even wider audience and more people will be able to attend and watch the live talks, learn about the workings of the technology and the Community by participating in Q&As and panels.</p>
    </div>
  </section>

  <section class="section-blue">
    <div class="container">
      <h1>Speakers</h1>
      <p>The registration for the Call For Paper are open. TODO SMALL TEXT</p>
      <p><a href="/cfp" class="button">Call For Paper</a></p>
      <div class="speaker-grid d-flex justify-content-between flex-wrap">
        <figure class="speaker">
          <img src="/User_font_awesome.svg" alt="Speaker face"/>
          <figcaption>Your name here</figcaption>
        </figure>
        <figure class="speaker">
          <img src="/User_font_awesome.svg" alt="Speaker face"/>
          <figcaption>Your name here</figcaption>
        </figure>
        <figure class="speaker">
          <img src="/User_font_awesome.svg" alt="Speaker face"/>
          <figcaption>Your name here</figcaption>
        </figure>
        <figure class="speaker">
          <img src="/User_font_awesome.svg" alt="Speaker face"/>
          <figcaption>Your name here</figcaption>
        </figure>
      </div>
    </div>
  </section>

  <section class="section-green">
    <div class="container my-4">
      <h1 class="mb-3">Sponsor</h1>
      <p>Please consider sponsoring this event to support KDE community</p>
      <h2>Gold sponsors</h2>
      <div class="row">
        <div class="col-md-4 p-4">
          <img class="img-fluid" src="https://kde.org/stuff/clipart/logo/kde-logo-white-blue-source.svg" />
        </div>
        <div class="col-md-4 p-4">
          <img class="img-fluid" src="https://kde.org/stuff/clipart/logo/kde-logo-white-blue-source.svg" />
        </div>
        <div class="col-md-4 p-4">
          <img class="img-fluid" src="https://kde.org/stuff/clipart/logo/kde-logo-white-blue-source.svg" />
        </div>
      </div>
      <h2>Silver sponsors</h2>
      <div class="row">
        <div class="col-md-3 p-4">
          <img class="img-fluid" src="https://kde.org/stuff/clipart/logo/kde-logo-white-blue-source.svg" />
        </div>
        <div class="col-md-3 p-4">
          <img class="img-fluid" src="https://kde.org/stuff/clipart/logo/kde-logo-white-blue-source.svg" />
        </div>
        <div class="col-md-3 p-4">
          <img class="img-fluid" src="https://kde.org/stuff/clipart/logo/kde-logo-white-blue-source.svg" />
        </div>
        <div class="col-md-3 p-4">
          <img class="img-fluid" src="https://kde.org/stuff/clipart/logo/kde-logo-white-blue-source.svg" />
        </div>
      </div>
    </div>
  </section>
</main>
{{ end }}
